@charset "utf-8";

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  border: 80px solid #f3f3f3;
  border-radius: 100%;
  border-top: 80px solid #3498db;
  width: 0px;
  height: 0px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.loadertext {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 4em;
  line-height: 4em;
  text-align: center;
  font-size: 1em;
  font-family: monospace;
  font-weight: 300;
  color: #333;
  z-index: 100;
}

.card-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  border: 80px solid #f3f3f3;
  border-radius: 100%;
  border-top: 80px solid #3498db;
  width: 0px;
  height: 0px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.card-loadertext {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 4em;
  line-height: 4em;
  text-align: center;
  font-size: 2em;
  font-family: monospace;
  font-weight: 300;
  color: #333;
  z-index: 100;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}