{% extends 'base.html' %}
{% load static %}

{% block style %}<title>Whats For Dinner - Home</title>{% endblock style %}
{% block title %}Home{% endblock title %}

{% block content %}
    <!-- Dinner modal -->
    <div class="modal fade" id="Dinnermodal" role="dialog" geturl="{% url 'ajax_getdinner' %}" rollurl="{% url 'ajax_getrandomdinner' %}" selecturl="{% url 'ajax_getselecteddinner' %}" saveurl="{% url 'ajax_saveselecteddinner' %}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Dinner</h3>
                    <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">cancel</button>
                </div>
                <div class="modal-body">
                    <div id="dicespinner" style="display:none">
                        <div class="card-loader"></div>
                        <div class="card-loadertext">Getting Food...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='calendar'></div>
{% endblock content %}

{% block scripts %}
    <link href="{% static "vendor/fullcalendar/main.css" %}?v=1.0" rel='stylesheet' />
    <script src="{% static "vendor/fullcalendar/main.js" %}?v=1.0"></script>
    <script>
        var clickeddate
        var calendaritem
        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
          calendaritem = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'UTC',
            initialView: 'dayGridMonth',
            events: '{% url 'ajax_getalldinner' %}',
            dateClick: function(info) {
                getdinner(info.dateStr);
              }
          });
          calendaritem.render();
        });
    </script>
    <script src="{% static "js/ajaxcalls.js" %}?v=1.0"></script>
{% endblock scripts %}